<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <center><h1>Home</h1>
    <a href="/pairdevice">pair new device</a><br>
    <form action="/connecteddevices" method="post" id="connectedDevicesForm">
    <a onclick="document.getElementById('connectedDevicesForm').submit();return false;">Show Connected Devices</a>
    </form>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</center>
</body>
</html>