<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pairdevice
    </title>
</head>
<body>
    <h1 align="center"> pair device</h1>
    <form action="/pairdevice" method="post" align="center">
        <input type="text" name="ipaddress" placeholder="Enter ip address">
        <input type="text" name="pairingport" id=""placeholder='Enter port'>
        <input type="text" name="password" id="" placeholder="enter key"> <button>pair device</button><br>
        <!-- <input type="text" name="port" id="" placeholder="enter connection port"> --> 
        
        
    </form>
    <a href="/homepage">home page</a>
</body>
</html>