<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen Mirror</title>
</head>
<body>
    <center><h1>Choose Device to mirror</h1></center>
    
    <center>
        <form action="screenmirror" method="post">
    <select name="deviceSelect" id="deviceSelect">
        <%for( let i of devices ){ %>
            <option value="<%= i['device'] %>"> <%= i['device'] %></option> 
        <%}%>
    
    </select>
    <input type="submit" name="submit" id="submit" value="Mirror">
    
    </form>
    <!-- <form action="showDetails" method="post">
        <input type="submit" name="showDetails" id="showDetails" value="show Details">
    </form>
     --> 
    </center>
    <a href="/"> home page</a>
</body>
</html>